#####################
# Java Ignore files #
#####################
*.class

##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
*/*.iml
*/*.idea
*/*.ipr
*/*.iws
*/out
out

#################
# Keynote       #
#################
*.key

#################
# Course       #
#################
ppt/
text-contents/
*.pdf
*.PDF
*.key